<div class="w-full max-w-3xl">
    <form [formGroup]="engineForm" (ngSubmit)="onSubmit()">
       <div class="w-full">
             <div class="text-xl">Paramètres Dashdoc</div>
             <div class="text-secondary">Gestion des paramètres de connexion à Dashdoc</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">           
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'Dashdoc'"
                    [name]="'ShipperToken'">
                </app-db-parameter-controle>   
            </div>
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperEndPoint'"
                    [module]="'Dashdoc'"
                    [name]="'ShipperEndPoint'">
                </app-db-parameter-controle>   
            </div>
        </div>
        <div class="my-10 border-t"></div>
        <div class="w-full">
            <div class="text-xl">Paramètres e-mail</div>
            <div class="text-secondary">Gestion des paramètres de l'envoi d'e-mail</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">           
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'EmailBackgroundService'"
                    [name]="'IsActive'">
                </app-db-parameter-controle>   
            </div>
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'EmailBackgroundService'"
                    [name]="'Interval'">
                </app-db-parameter-controle>   
            </div>
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'EmailSender'"
                    [name]="'SMTPServer'">
                </app-db-parameter-controle>   
            </div>
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'EmailSender'"
                    [name]="'SMTPPort'">
                </app-db-parameter-controle>   
            </div>
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'EmailSender'"
                    [name]="'SMTPUsername'">
                </app-db-parameter-controle>   
            </div>
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'EmailSender'"
                    [name]="'SMTPPassword'">
                </app-db-parameter-controle>   
            </div>
            <div class="sm:col-span-4">
                <app-db-parameter-controle
                    [formControlName]="'ShipperToken'"
                    [module]="'EmailSender'"
                    [name]="'EnableSsl'">
                </app-db-parameter-controle>   
            </div>
        </div>
        <button type="submit" [disabled]="!engineForm.valid">Submit</button>
    </form>
</div> 