<div class="flex flex-col flex-auto justify-between p-6 bg-card shadow rounded-2xl overflow-hidden h-60 w-60">
    <div class="flex items-start justify-between">
        <div class="text-lg font-medium tracking-tight leading-6 -mt-2">{{ title }}</div>
        <div class="ml-2 -mt-2 -mr-3">
            <button
                mat-icon-button
                [matMenuTriggerFor]="menu">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="menuIcon"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onDemandes()">Afficher demandes</button>
                <button mat-menu-item (click)="onDemandesAccordees()">Afficher accepté</button>
                <button mat-menu-item (click)="onDemandesRefusees()">Afficher refusé</button>
            </mat-menu>
        </div>
    </div>
    <div class="flex flex-col items-center mt-2 min-h-30">
        <div [ngClass]="numberClass">{{ number }}</div>
        <div [ngClass]="textClass">{{ subtitle }}</div>
        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
            <div class="text-md font-medium truncate">{{ additionalText }}</div>
            <div class="ml-1.5 text-lg font-semibold">{{ additionalNumber }}</div>
        </div>
    </div>
</div>
