bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.idea/*
.code_cover/
RecyOs.sln.DotSettings.user
RecyOs/appsettings.json
RecyOs/appsettings.Development.json
RecyOs/Cache
RecyOs/nlog.config
RecyOs/Migrations
.vscode
.DS_Store
RecyOs/Uploads
RecyOs/cache
.cursor/rules/recyos-back.mdc
RecyOsTests/TestData/.~lock.ndcover_test_data.xlsx#
RecyOs/Migrations/DataContextModelSnapshot.cs
RecyOs.sln.DotSettings.user
.fake