<div class="files-tab ng-star-inserted">
    <div class="inset-0 flex flex-col min-w-0 overflow-hidden">
        <mat-drawer-container class="mat-drawer-container flex-auto h-full mat-drawer-transition">
            <mat-drawer-content class="flex h-full">
                <mat-card class="max-w-xs">

                    <mat-card-content>
                        <files-types-col
                            [selectedEntity]="selectedEntity"
                            (typeSelected)="onTypeSelected($event)"
                            data-cy="files-types-col"
                        >
                        </files-types-col>
                    </mat-card-content>
                </mat-card>

                <mat-divider [vertical]="true"></mat-divider>

                <mat-card class="max-w-s">
                    <mat-card-content>
                        <files-list-col
                            [selectedType]="selectedType"
                            [selectedEntity]="selectedEntity"
                            (documentSelected)="onDocumentSelected($event)"
                            data-cy="files-list-col"
                        >
                        </files-list-col>
                    </mat-card-content>
                </mat-card>
                <mat-divider [vertical]="true"></mat-divider>

                <mat-card class="flex-grow">
                    <mat-card-content>
                        <file-preview-col
                            [selectedDocument]="selectedDocument"
                            [selectedEntity]="selectedEntity"
                            data-cy="file-preview-col"
                        >
                        </file-preview-col>
                    </mat-card-content>
                </mat-card>

            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
