<div class="flex"
    [formGroup]="bankInfosFormGroup">
    <app-input-field
        class="w-2/3 mr-2"
        label="IBAN"
        [type]="'text'"
        formControlName="iban"
        [control]="ibanControl"
        [errorMessages]="{
                            pattern: 'L\'IBAN saisis n\'est pas un IBAN valide selon la norme ISO 7604'
                        }"
        [readonly]="!canWriteBankInfos && !isAdmin"
        data-cy="iban"
    >
    </app-input-field>
    <app-input-field
        class="w-1/3"
        label="BIC"
        [type]="'text'"
        formControlName="bic"
        [control]="bicControl"
        [errorMessages]="{
                            pattern: 'Le code BIC est invalid'
                        }"
        [readonly]="!canWriteBankInfos && !isAdmin"
        data-cy="bic"
    >
    </app-input-field>
</div>
