.finances-balances-europe {
    .mat-mdc-table {
        background: transparent;

        .mat-mdc-row {
            &:hover {
                background: rgba(0, 0, 0, 0.04);
            }
        }

        // Alignement à droite pour les montants et encours
        .mat-column-montant,
        .mat-column-encoursMax {
            text-align: right;
            padding-right: 24px;
        }

        // Alignement à gauche pour le commercial
        .mat-column-commercial {
            padding-left: 16px;
        }

        // Style pour les montants qui dépassent l'encours
        .text-red-600 {
            color: rgb(220, 38, 38); // Couleur rouge de Tailwind
            font-weight: 500;
        }
    }
} 